{{- $postgresPort := 5432 -}}
{{- $backendPort := .Values.backend.port -}}
{{- $frontendPort := .Values.frontend.port -}}

---
apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  selector:
    app: postgres
  ports:
    - port: {{ $postgresPort }}
      targetPort: {{ $postgresPort }}
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - port: {{ $backendPort }}
      targetPort: {{ $backendPort }}
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - port: {{ $frontendPort }}
      targetPort: {{ $frontendPort }}
  type: ClusterIP